@font-face {
    font-family: "spaceFont";
    src: url('files/font.ttf');
}

@font-face {
    font-family: "statFont";
    src: url('files/statFont.ttf');
}

* {
    font-family: "spaceFont", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url('files/bg.jpg');
}

.planetImg {
    transform: rotate(-15deg);
    transition: 0.3s;
    text-transform: uppercase;
    width: 80%;
    margin-left: 10%;
}

.planetImg:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.planetName {
    color: white;
    transition: 0.3s;
    text-align: center;
    margin-top: 30%;
}

.planetName:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.row a {
    text-decoration: none;
    color: white;
}

#astronaut {
    width: 100%;
}

.title {
    text-align: center;
    font-size: 35pt;
    font-weight: 900;
}

.link {
    font-weight: 900;
    margin-top: 50px;
}

.statText {
    font-family: 'statFont', sans-serif;
    font-size: 20pt;
    color: white;
    margin-left: 50px;
    line-height: 30px;
}

@media screen and (max-width: 768px){
    .planetName {
        margin-top: 30px;
        margin-bottom: 60px;
    }

    #astronaut {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 992px){
    .statText {
        margin: 0px;
    }
}